
@font-face {
  font-family: 'Avenir';
  src: url('./avenir/Avenir-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenir/Avenir-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenir/Avenir-Heavy.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenir/Avenir-Black.ttf') format('truetype');
  font-weight: 900; 
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat';
  src: url('./montserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserat/Montserrat-Medium.otf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./montserat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}



body {
  margin: 0;
  font-family: 'Avenir', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
